/* ==== GRID SYSTEM ==== 
Courtesy of https://zeph.co/grid
Open source under the MIT License.
*/

.lam-grid {
  display: flex;
  flex-wrap: wrap;
}

.lam-grid:nth-child(even) {
  background: #e8ecf0;
}

.lam-grid:nth-child(odd) {
  background: #fff;
}

.lam-row {
  display: flex;
  flex-wrap: wrap;
}

.lam-col {
  box-sizing: border-box;
  flex: 1;
  overflow: auto;
}

.lam-bigger {
  flex: 2.5;
}

.lam-grid-1 .lam-col {
  flex: 0 0 100%;
}

.lam-grid-2 .lam-col {
  flex: 0 0 50%;
}
.lam-grid-3 .lam-col {
  flex: 0 0 33.3333%;
}
.lam-grid-4 .lam-col {
  flex: 0 0 25%;
}

@media (max-width: 300px) {
  .lam-grid {
    display: block;
  }
}
