.ol-scale-line {
  top: auto !important;
  left: auto !important;
  right: 20px !important;
  bottom: 80px !important;
  background-color: var(--lam-bg-color) !important;
  margin: 0px !important;
  padding: 0px !important;
}

.ol-scale-line-inner {
  color: var(--lam-btn-color) !important;
  border: 1px solid var(--lam-btn-color) !important;
  border-top: none !important;
  margin: 0px !important;
}

.lam-group-list {
  padding: 0px 8px;
  list-style-type: none;
}

.lam-group-list li {
  padding: 4px;
}

.lam-group-list__sub-title {
  padding: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.lam-card {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 400;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  padding: 5px;
}

.lam-feature {
  padding: 0 0 0.6rem 0;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
}

.lam-feature-heading {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.3rem 0.1rem 0.2rem 0.3rem;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.lam-feature-title {
  padding: 4px 4px;
  font-size: 1rem;
  font-weight: 500;
}

.lam-feature-content {
  padding: 4px 4px;
  overflow: auto;
  font-size: 1rem;
}

.lam-feature__relations {
  padding: 4px 4px;
  font-size: 1rem;
}
.lam-feature__charts {
  padding: 4px 4px;
  font-size: 1rem;
}

.lam-feature__icons {
  padding: 0.1rem 0.3rem;
  font-size: 1.2rem;
}

.lam-feature__icon {
  color: var(--lam-btn-color);
  fill: var(--lam-btn-color);
  cursor: pointer;
  margin: 0 0.2rem;
  vertical-align: middle;
}

.lam-layer-icon {
  display: inline-block;
  vertical-align: middle;
}

.lam-layer-description {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 8px;
}

.lam-layer-metadata {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 8px;
}

.lam-table {
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 1rem;
}

.lam-table tr {
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.lam-table tr:nth-child(even) {
  background: #e8ecf0;
}
.lam-table tr:nth-child(odd) {
  background: #fff;
}

/* .lam-table:hover {
    background-color: #eeeeee;
  } */

.lam-table td,
.lam-table th {
  vertical-align: middle;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1px 4px;
  text-align: left;
}

.lam-sorted {
  background-color: var(--lam-btn-color);
  backdrop-filter: brightness(200%) !important;
}

.lam-background {
  background-color: var(--lam-bg-menu-color);
}

.lam-background-darken {
  background-color: var(--lam-btn-color-darken);
}

.lam-input {
  font-size: 1rem;
  border-right: 0px solid var(--lam-btn-color);
  border-left: 0px solid var(--lam-btn-color);
  border-top: 0px solid var(--lam-btn-color);
  border-bottom: 1px solid var(--lam-btn-color);
  width: 100%;
  padding: 4px 0px;
}

.lam-input:focus {
  outline: none;
}

.lam-select {
  width: 100%;
  font-size: 1rem;
  padding: 4px 0px;
  border-right: 0px solid var(--lam-btn-color);
  border-left: 0px solid var(--lam-btn-color);
  border-top: 0px solid var(--lam-btn-color);
  border-bottom: 1px solid var(--lam-btn-color);
  outline: 0px;
}

.lam-select-small {
  font-size: 1rem;
  padding: 4px 0px;
  border-right: 0px solid var(--lam-btn-color);
  border-left: 0px solid var(--lam-btn-color);
  border-top: 0px solid var(--lam-btn-color);
  border-bottom: 1px solid var(--lam-btn-color);
  outline: 0px;
}

.lam-option {
  padding: 0px;
}

.lam-center {
  text-align: center;
}

.lam-label {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.3rem 0;
}

a.lam-link {
  color: var(--lam-btn-color);
  text-decoration: none;
  display: inline-block;
}

a.lam-link:hover {
  color: var(--lam-btn-color-darken);
  text-decoration: underline;
}

a.lam-link:active {
  color: var(--lam-btn-color);
  text-decoration: none;
}

a.lam-link-blue {
  color: #005889;
  text-decoration: none;
  display: inline-block;
}

a.lam-link-blue:hover {
  color: #112288;
  text-decoration: underline;
}

a.lam-link-blue:active {
  color: #005889;
  text-decoration: none;
}

.lam-slidecontainer {
  width: 100%; /* Width of the outside container */
}

.lam-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: var(--lam-btn-color);
  height: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.lam-slider:hover {
  opacity: 1;
}

.lam-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--lam-btn-color);
  cursor: pointer;
}

.lam-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--lam-btn-color);
  cursor: pointer;
}
