.lam-map-tooltip {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 180px;
  display: none;
}
.lam-map-tooltip:after,
.lam-map-tooltip:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.lam-map-tooltip:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -5px;
}
.lam-map-tooltip:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -6px;
}
.lam-map-tooltip-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.lam-map-tooltip-closer:after {
  content: "✖";
}

.lam-bottom-info {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  bottom: 80px;
  width: 100%;
  height: 30%;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
}

.lam-bottom-info__title {
  box-sizing: border-box;
  padding: 0rem;
  height: 45px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
}

.lam-bottom-info__title {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.lam-bottom-info__content {
  box-sizing: border-box;
  padding-bottom: 45px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.lam-bottom-info__content-item {
  padding: 0.5rem;
  background-color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.lam-info-expander {
  top: 5px;
  right: 5px;
  position: absolute;
}
