.lam-strong {
  font-weight: bold;
}

.lam-italic {
  font-style: italic;
}

.lam-title {
  margin: 8px 0px;
  font-size: 2rem;
  font-weight: 500;
}

.lam-title-h4 {
  margin: 8px 0px;
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 500;
}

.lam-title-legend {
  margin: 8px 0px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  color: var(--lam-btn-color);
}

.lam-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.lam-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.lam-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.lam-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.lam-icon-success {
  color: green;
}

.lam-icon-base-info {
  color: var(--lam-btn-color);
}

.lam-radius {
  border-radius: 8px;
}

.lam-bar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px 8px 0px;
}

.lam-bar__item {
  padding: 8px 8px;
  font-size: 1.25rem;
  color: var(--lam-btn-color-lighter);
  border-bottom: 2px solid var(--lam-btn-color-lighter);
  cursor: pointer;
}

.lam-bar__item-selected {
  border-bottom: 2px solid var(--lam-btn-color-darken);
  color: var(--lam-btn-color-darken);
}

.fake-link {
  cursor: pointer;
}

.lam-pointer {
  cursor: pointer;
}