/*layer-tree*/

.layertree {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
}

.layertree-item {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  transition: all 0.3s ease;
  width: 100%;
}

.layertree-item:after {
  content: "";
  display: table;
  clear: both;
}

.layertree-item-bottom {
  margin-top: 5px;
}

.layertree-item__layers:after {
  content: "";
  display: table;
  clear: both;
}

.layertree-group {
  box-sizing: border-box;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom: 0px solid rgb(251, 251, 251);
  margin-bottom: 2px;
}

.layertree-group__title {
  padding: 4px 4px;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: white;
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: antialiased !important;
}

.layertree-group__icon {
  cursor: pointer;
  fill: white;
  display: inline-block;
  line-height: 0rem;
  font-size: 0pt;
  order: 1;
}

.layertree-group__chevron-icon {
  cursor: pointer;
  fill: white;
  display: inline-block;
  line-height: 0rem;
  font-size: 0pt;
  order: 1;
}

.layertree-group__layers-icons {
  padding: 0rem 0.1rem 0rem 0rem;
  font-size: 1.25rem;
  order: 3;
  min-width: 35px;
}

.layertree-group__title-text {
  display: inline-block;
  order: 2;
  flex-grow: 2;
}

.layertree-group__title--sub1 {
  box-sizing: border-box;
  font-size: 1.25rem;
  backdrop-filter: brightness(110%);
  padding: 4px 4px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.layertree-group__title--sub2 {
  box-sizing: border-box;
  font-size: 1.15rem;
  backdrop-filter: brightness(130%);
  padding: 4px 4px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.layertree-group__title--sub3 {
  box-sizing: border-box;
  font-size: 1.1rem;
  backdrop-filter: brightness(150%);
  padding: 4px 4px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.layertree-group__title--sub4 {
  box-sizing: border-box;
  font-size: 1rem;
  backdrop-filter: brightness(170%);
  padding: 4px 4px;
  width: 100%;
}

.layertree-group__layers {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.layertree-layer {
  margin: 0px;
  padding: 4px 4px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
}

.layertree-layer-border {
  border-bottom: 1px solid var(--lam-btn-color);
}

.layertree-layer--selected {
  background-color: #ebebeb;
}

.layertree-layer__title-text {
  padding: 0rem 0rem 0rem 0rem;
  font-size: 1rem;
  order: 0;
  flex-grow: 1;
}

/* .layertree-layer__title-icons {
  padding: 0rem 0.1rem 0rem 0rem;
  font-size: 1.2rem;
  order: 3;
  min-width: 35px;
} */

.layertree-layer__layers-icons {
  padding: 0px;
  font-size: 1.2rem;
  order: 2;
  min-width: 70px;
}

.layertree-layer__icon {
  cursor: pointer;
  fill: var(--lam-btn-color);
  display: inline-block;
  line-height: 0rem;
  font-size: 0pt;
}

.layertree-layer__icon-empty {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.layertree--hidden {
  /*transition: opacity 0.4s, max-height 0.4s ease-out;*/
  opacity: 0.5;
  max-height: 0px;
  overflow: hidden;
}

.layertree--visible {
  transition: opacity 0.4s, max-height 0.3s ease-in;
  opacity: 1;
}

/*layers arguments
  .layertree-argument__groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  
  .layertree-argument__group-item {
    order: 0;
    flex: 1 1;
  }
  
  .layertree-argument__group-item-text {
    display: inline-block;
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
  }
  
  .layertree-argument-list-group {
    margin: 0px;
    padding: 0px;
  }
  
  .layertree-argument-list-group-item {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 4px 0px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .layertree-argument-list-group-item__title {
    display: inline-block;
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1.2rem;
    order: 0;
    flex-grow: 2;
  }
  
  .layertree-argument-list-group-item__icons {
    display: inline-block;
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1.2rem;
    order: 0;
    flex-grow: 1;
    flex-basis: 7rem;
  }
  */
