.lam-map__browser-location {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.lam-map__zoom-in {
  position: absolute;
  top: 3.5rem;
  right: 0.5em;
}

.lam-map__zoom-out {
  top: 6.5rem;
  right: 0.5rem;
  position: absolute;
}

.lam-menu-panel__open {
  top: 0.5rem;
  left: 0.5em;
  position: absolute;
}
